@model IEnumerable<Eaton_DG_PCC.Models.datang>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Remote data acquisition system</title>
    <meta name="keywords" content="远程通讯系统keywords">
    <meta name="description" content="远程通讯系统description">
    <link href="~/Css/bootstrap.min14ed.css" rel="stylesheet" />
    <link href="~/Css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />

</head>


<body class="gray-bg">
    <div>
        <div class="col-sm-12">
            <h4 class="example-title">Device_Data</h4>
            <div class="example">
                <table id="exampleTableLargeColumns" data-show-columns="true" data-height="600" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <script src="~/scripts/jquery.min.js?v=2.1.4"></script>
    <script src="~/scripts/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/scripts/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/scripts/demo/bootstrap-table-demo.min.js"></script>
</body>




</html>
