@model IEnumerable<Eaton_DG_PCC.Models.datang>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Remote data acquisition system</title>
    <meta name="keywords" content="远程通讯系统keywords">
    <meta name="description" content="远程通讯系统description">
    <link href="~/Css/bootstrap.min14ed.css" rel="stylesheet" />
    <link href="~/Css/animate.min.css" rel="stylesheet" />
    <link href="~/Css/style.min862f.css" rel="stylesheet" />



</head>

<body class="gray-bg">
    <div class="row">
        <div class="col-sm-12">
            <div class="wrapper wrapper-content">
                <div class="row animated fadeInRight">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">

                            <div class="" id="ibox-content">
                                <div id="vertical-timeline" class="vertical-container light-timeline">
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h2>Replacing transmission gear</h2>
                                            <p>
                                                Gear aging and trial period.
                                            </p>
                                            <a href="#" class="btn btn-sm btn-primary">Download the document</a>
                                            <span class="vertical-date">
                                                <small>2017-12-03</small>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i class="fa fa-file-text"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h2>Add lubricant</h2>
                                            <p>Lack of lubricant and routine testing.</p>
                                            <a href="#" class="btn btn-sm btn-primary">Download the document</a>

                                            <span class="vertical-date">
                                                <small>2017-11-13</small>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i class="fa fa-coffee"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h2>Equipment maintenance</h2>
                                            <p>Some parts are disassembled, cleaned, repaired, and appropriate adjustment is made for each department's clearance.</p>
                                            <a href="#" class="btn btn-sm btn-primary">Download the document</a>

                                            <span class="vertical-date"> <small>2017-07-13</small></span>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h2>Equipment maintenance</h2>
                                            <p>For all the two operating mechanisms of the equipment, all kinds of iron stoppers and limit switches are adjusted to be sensitive and reliable, and all kinds of dust-proof, chip-proof and device are cleaned and repaired to be complete and easy to use.。</p>
                                            <a href="#" class="btn btn-sm btn-primary">Download the document</a>


                                            <span class="vertical-date"><small>2017-01-02</small></span>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i class="fa fa-user-md"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h2>Equipment maintenance</h2>
                                            <p>Cleaning the prescribed parts, dredging oil lines, pipelines, adjusting the accuracy of parts of equipment, fastening parts and so on, and make a good record.</p>
                                            <a href="#" class="btn btn-sm btn-primary">Download the document</a>


                                            <span class="vertical-date"><small>2016-07-02</small></span>
                                        </div>
                                    </div>

                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h2>Replacing transmission gear</h2>
                                            <p>
                                                Gear aging and trial period.
                                            </p>
                                            <a href="#" class="btn btn-sm btn-primary">Download the document</a>
                                            <span class="vertical-date">
                                                <small>2017-12-03</small>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i class="fa fa-file-text"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h2>Add lubricant</h2>
                                            <p>Lack of lubricant and routine testing.</p>
                                            <a href="#" class="btn btn-sm btn-primary">Download the document</a>

                                            <span class="vertical-date">
                                                <small>2017-11-13</small>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i class="fa fa-coffee"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h2>Equipment maintenance</h2>
                                            <p>Some parts are disassembled, cleaned, repaired, and appropriate adjustment is made for each department's clearance.</p>
                                            <a href="#" class="btn btn-sm btn-primary">Download the document</a>

                                            <span class="vertical-date"> <small>2017-07-13</small></span>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h2>Equipment maintenance</h2>
                                            <p>For all the two operating mechanisms of the equipment, all kinds of iron stoppers and limit switches are adjusted to be sensitive and reliable, and all kinds of dust-proof, chip-proof and device are cleaned and repaired to be complete and easy to use.</p>
                                            <a href="#" class="btn btn-sm btn-primary">Download the document</a>


                                            <span class="vertical-date"><small>2017-01-02</small></span>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i class="fa fa-user-md"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h2>Equipment maintenance</h2>
                                            <p>Clean and record specified parts, dredge oil lines, pipelines, adjust parts of equipment, fasten parts, etc.</p>
                                            <a href="#" class="btn btn-sm btn-primary">Download the document</a>


                                            <span class="vertical-date"><small>2016-07-02</small></span>
                                        </div>
                                    </div>





                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


</html>
